<!DOCTYPE html>
<html>
<head>
    <title>EAT DA BURGER</title>
    <!-- jQuery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    {{!-- Custom css --}}
        <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text-css">
    <script src="../../controllers/burgers_controller.js"></script>

</head>
<body>
    {{{body}}}

</body>
</html>