<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Eat-Da-Burger App for UPenn Coding Bootcamp 2019">    
    <meta name="author" content="Sherard Graham">
    <title>EAT DA BURGER</title>
    <!-- jQuery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
   
   {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   
   {{!-- Google Fonts --}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap">
    {{!-- Custom css --}}
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">

</head>
<body>
    {{{body}}}

</body>
</html>