    <div class="container">

    <div class="jumbotron">
        <img src="/assets/img/burger2.png" class="img-fluid float-right">
        <h1 class="title">Eat Da Burger</h1>
        <card>           
          <h4 "text-center">Which burger do you want to eat?</h4>
          <form class="button-size" action="/api/burgers" method="POST">
              <input type="text" class="text-center" id="insertBurger" name="burger_name" placeholder="Insert Burger Name"></input>
              <span class="input-group-btn">
                  <button type="submit" class="insertBurgerBtn btn btn-warning">
                      Add to Menu!</button>
              </span>
          </form>
        </card>

    {{!-- End Jumbotron --}}
    </div>

{{!-- End container --}}
</div> 

<div class="container">
  <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-warning mb-3"><h2>Burgers Menu:</h2></div>
                <div class="card-body" id="newBurger">
                    
                        {{#each burgers}}  {{#unless this.devoured}}

                    <form class="button-size" action="/api/burgers" method="POST">
                        <div class="input-group">
                            <input type="hidden" name="devoured" value="true">
                            <li class="form-control uneaten">{{this.burger_name}}</li>
                            <span class="input-group-btn">
                                <button class="eatBurger btn btn-danger" data-id="{{id}}" type="submit">Devour It!</button>
                            </span>
                        </div>
                    </form>
                

                  {{/unless}} 
                  {{/each}}
                    
                </div>
            </div>
        </div>
    
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-danger text-white mb-3"><h2>Devoured Burgers</h2></div>
                <div class="card-body">
         
                    {{#each burgers}} 
                    {{#if this.devoured}}
               <div>
                <li class="form-control devoured">{{this.burger_name}}</li>
            </div>
                   
                    {{/if}} 
                    {{/each}}
                    
                </div>
                
              </div>
          </div>
    
{{!-- End container --}}
</div>
</div>

<script>
$(".eatBurger").click(function(event){
    event.preventDefault()
    let id = $(this).attr("data-id")
    console.log(id)
    $.ajax({
        url:'/api/burgers/'+id,
        type:'PUT',
    }).then(function(info){
        location.reload()
    })
})
</script>