
body {
    background-image: url("../img/gradient-bgr.png");
    background-repeat: repeat-x;
    background-color: black;
}
.title{
    font-family: 'Saira Stencil One', cursive;
    font-size: 28px;
}

.jumbotron{
    background-color: antiquewhite;
}